<h1>SMS Notifications</h1>
<span><p id="notice" style="position:absolute; top: 10px; right: 10px; background-color:rgb(165, 156, 148); color:black"><%= notice %></p></span>
<p>Use this form to send MMS notifications to any subscribers.</p>

<%= form_tag '/new-text', method: "post" do %>
  <div class="form-group">
    <%= label_tag :message, "Enter a Message:" %>
    <%= text_field_tag :message, '', class: "form-control", placeholder: "Send a message", required: "required" %>
  </div>
  <div class="form-group d-flex">
    <%= label_tag :name, "Name:" %>
    <%= text_field_tag :name, '', class: "form-control", placeholder: "Name", required: "required" %>
    <%= label_tag :number, "Phone number:" %>
    <%= text_field_tag :number, '', class: "form-control", placeholder: "Phone Number", required: "required" %>
  </div>
  <button type="submit" class="btn btn-primary">Send Message</button>
<% end -%>

  <% initial_invites = [] %>
  <% other = [] %>
  <% @notifications.each do |n| %>
      <% if n.message.include? "Hello! We invite you" %>
      <%# if n.message.include? "Hi" %>
        <% initial_invites.push(n) %>
      <% else %>
        <% other.push(n) %>
      <% end %>
    <% end %>

    <h3>Initial Invites  - <%= initial_invites.size %></h3>
    <div class="d-flex flex-wrap w-100 mb-3">
      <% initial_invites.each do |msg| %>
        <%= render 'msg_cards', msg: msg %>
      <% end %>
    </div>

  <h3>Other Messages - <%= other.size %></h3>
    <div class="d-flex flex-wrap w-100 mb-3">

      <% other.each do |msg| %>
        <%= render 'msg_cards', msg: msg %>
      <% end %>
    </div>

  <p>
    Total messages: <%= @notifications.size %>
  </p>
